*{
    box-sizing: border-box;
}
html, body{
    height: 100%;
}

@font-face {
  font-family: "EB Garamond";
  src: url("../fonts/EBGaramond.ttf") format("truetype");
  font-style: normal;
  font-weight: lighter;
}

@font-face {
    font-family: "EB Garamond italic";
    src: url("../fonts/EBGaramond-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: lighter;
  }

p{
    font-family: 'EB Garamond';
}